@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html,
body,
:root {
  height: 100%;
  background-color: #1a2024;
}
@layer components {
  .main-button {
    @apply bg-gradient-to-r from-[#4776E6] via-[#8E54E9]  to-[#4776E6] text-white px-6 py-2 rounded-xl;
  }

  .main-button:hover {
    @apply bg-gradient-to-l from-[#779fff]  to-[#8e54e9] via-[#779fff] !important;
  }

  .secondary-button {
    @apply bg-[#2F3940] text-white px-2 py-1 rounded-2xl text-sm;
  }
  .hover-icon-user {
    @apply before:content-[''] before:absolute before:w-full h-full before:block before:bg-red-600 top-[-60px];
  }
  .bg-transparent-to-bottom {
    @apply bg-gradient-to-b from-transparent to-[rgba(0,0,0,1)];
  }
}
